# Ignorowanie plików Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsix
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignorowanie katalogów kompilacji
Debug/
Release/
x64/
x86/
*.obj
*.exe
*.log

# Ignorowanie innych niepotrzebnych plików
Thumbs.db
*.tmp
Nowy Dokument tekstowy.txt

